.Mobile-Background {
    background-color: rgb(202, 192, 157);
    background-blend-mode: multiply;
    padding: 20px;
    background-image: url("../images/main.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.Mobile.active {
    margin-left: 150px;
}

.Mobile-Resume {
    width: 85%; /* 區塊寬度設為容器的80% */
    max-width: 8000px; /* 最大寬度設為800px */
    margin: 20px auto; /* 上下外邊距20px，水平居中 */
    padding: 30px; /* 內邊距20px */
    border: 4px solid #ffffff; /* 邊框顏色 */
    border-radius: 10px; /* 圓角 */
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.1); /* 陰影效果 */
}

.Mobile-Person-Photo {
    position: relative; /* 讓文字定位在圖片上 */
    width: 80%; /* 可調整，讓圖片容器隨視窗大小變化 */
    margin: 0 auto;
    max-width: 800px;
}

.Mobile-Person-Photo img {
    width: 100%;
    height: auto;
    display: block;
    border-radius: 10px;
    -webkit-user-drag: none;
    -moz-user-drag: none;
    -o-user-drag: none;
}

.Mobile-Photo-Text {
    position: absolute; /* 絕對定位 */
    bottom: 10%; /* 讓文字位於圖片的底部 */
    left: 0;
    width: 100%; /* 文字區塊寬度與圖片一致 */
    color: white;
    text-align: center; /* 文字居中 */
    font-size: 5vw; /* 文字大小隨著視窗寬度變化 */
    font-weight: bold;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7);
}

.Mobile-Common-Tittle-Type {
    color: rgb(238, 218, 108);
    font-size: 36px;
    font-weight: bold;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7);
    margin: 30px 0px 10px 0px;
}

.Mobile-About-Me-Content {
    color: rgb(255, 255, 255);
    font-size: 18px;
    font-weight: bold;
    margin: 10px;
}


.Mobile-Expertise-Content {
    color: rgb(255, 255, 255);
    font-size: 18px;
    font-weight: bold;
    margin: 10px;
}

.Mobile-Job-custom-hr {
    border-top: 2px solid #ffffff;
    margin: 20px auto;
}

.Mobile-Job-Title {
    color: rgb(255, 255, 255);
    font-size: 24px;
    font-weight: bold;
    margin: 5px;
}

.Mobile-Job-Duration {
    color: rgb(255, 255, 255);
    font-size: 18px;
    font-weight: bold;
    font-style: italic;
    margin: 5px;
    margin-left: 20px;
}

.Mobile-Job-Content {
    margin-left: 60px;
}

.Mobile-Job-Content-Decimal {
    color: rgb(255, 255, 255);
    font-size: 18px;
    font-weight: bold;
    list-style-type: decimal;
    margin-bottom: 5px;
}

.Mobile-Job-Content-lower-alpha {
    color: rgb(255, 255, 255);
    font-size: 18px;
    font-weight: bold;
    list-style-type: lower-alpha;
    margin-left: 20px;
}

.Mobile-Education-Tittle {
    color: rgb(255, 255, 255);
    font-size: 24px;
    font-weight: bold;
}

.Mobile-Education-Content {
    color: rgb(255, 255, 255);
    font-size: 18px;
    font-weight: bold;
    margin: 10px;
    margin-left: 40px;
}